{% assign resume_data_key = page.resume_lang | default: "default" %}
{% assign sidebar = site.data.data.sidebar %}
{% assign sidebar_name = site.data.data[resume_data_key].sidebar.name | default: sidebar.name %}
{% assign sidebar_tagline = site.data.data[resume_data_key].sidebar.tagline | default: sidebar.tagline %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar_name %}
    <h1 class="name">{{ sidebar_name }}</h1>
    {% endif %}

    {% if sidebar_tagline %}
    <h3 class="tagline">{{ sidebar_tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include_relative _includes/resume/contact.html %}

  {% if sidebar.education %}
  {% include_relative _includes/resume/education.html %}
  {% endif %}

  {% include_relative _includes/resume/language.html %}
  {% include_relative _includes/resume/interests.html %}

  {% if sidebar.about %}
  {% include_relative _includes/resume/about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
