{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include_relative _includes/resume/contact.html %}

  {% if sidebar.education %}
  {% include_relative _includes/resume/education.html %}
  {% endif %}

  {% include_relative _includes/resume/language.html %}
  {% include_relative _includes/resume/interests.html %}

  {% if sidebar.about %}
  {% include_relative _includes/resume/about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->