---
# Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include_relative _includes/head.html %}

<body class="modern-resume">
  <div class="modern-container">
    {% include_relative _includes/modern/header.html %}

    <main class="modern-main">
      {{ content }}
    </main>

    {% include_relative _includes/resume/footer.html %}
  </div>

  {% include_relative _includes/resume/scripts.html %}
</body>

</html>
